{% extends 'templates/default.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <p>This message will self destruct as soon as the recepient reads it.</p>
            </div>
        </div>
    	<div class="col-md-6">
    		<div class="panel panel-default">
    			<div class="panel-body">
    				<form action="{{ path_for('send') }}" method="post" autocomplete="off">
    					<div class="form-group">
    						<label for="email">Send to</label>
    						<input type="email" name="email" id="email" class="form-control" placeholder="someone@domain.com">
    					</div>
    					<div class="form-group">
    						<label for="body">Message</label>
    						<textarea name="body" id="body" cols="30" rows="10" class="form-control"></textarea>
    					</div>

    					<button type="submit" class="btn">Send</button>
    				</form>
    			</div>
    		</div>
    	</div>
        <div class="col-md-3">
            <div class="well">
                <h3>About</h3>
                <p>Developer: <a href="https://github.com/josephmtinangi">Joseph Mtinangi</a></p>
                <p>Source code <a href="https://github.com/josephmtinangi/destructy">Github</a></p>
            </div>
        </div>
    </div>
{% endblock %}