<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path_for('home') }}">Destructy</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a href="https://github.com/josephmtinangi" title="Developer"><i class="fa fa-github"></i></a></li>
				<li><a href="https://github.com/josephmtinangi/destructy" title="Source Code"><i class="fa fa-code"></i></a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>